<div id="CategoriesId" class="row mt-5">
	<table class="table mt-2">
		<thead>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>DESCRIPT</th>
				<th>PICTURE</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(categorie, index) in categories">
				<th>{{categorie.categoryID}}</th>
				<th>{{categorie.categoryName}}</th>
				<th>{{categorie.description}}</th>
				<th>{{categorie.picture}}</th>
				<th>
@*					<button :data-number="course.number" type="button" class="btn btn-danger">刪除</button>
					<button :data-number="course.number" type="button" class="btn btn-warning">編輯</button>*@
				</th>

			</tr>
		</tbody>
	</table>
</div>
<script>
	var CategoriesId = new Vue({
	el:'#CategoriesId',
	data:{	
		categories:null,
	},created(){
		axios
		.get('/api/Paz')
		.then(response=>{ this.categories=response.data;console.log(this.categories)});
	}
	});


</script>
